<%= javascript_pack_tag :application, 'nested_form' %>
<div class="content">
    <h2 style='font-size:36px'>Upload mzXML files</h2>
    <hr style="width:1210px">
    <h3>File format</h3>
    
    <p class="mzxml">
        For example: <br>
        <p class="mzxml-eg">20140114_A-190_pos_BK01_P1-A-9_01_11619.mzXML / 20140114_A-190_neg_S001_P1-A-1_01_11620.mzXML</p>
        <ul class="mzxml-rules">
            <li>Mark 'pos' if it's in positive mode;<br> mark 'neg' if it's in negative mode</li>
            <li>Mark 'BK**' if it's blank file;<br> mark 'S***' if it's sample file (* represents number)</li>
        </ul>
    </p>

    <hr style="width:1210px">

        <% if @project.mobile_phase_evaluation %>
        
            <h3>Mobile phase evaluation</h3>
            <br>

            <%= nested_form_for(@project, html: { multipart: true }) do |f| %>

                <%= f.fields_for :uploads do |u| %>
                    <div>
                        <%= u.label :mobile_phase %>
                        <%= u.text_field :mobile_phase %>
                        <br>
                        <br>
                    </div>
        
                    <div>
                        <%= u.label :upload_mzxml_files %>
                        <%= u.file_field :mzxmls, multiple: true %>
                        <br>
                        <br>
                    </div>
                    <br>

                    <%= u.link_to_remove "Cancel this upload" %>
                
                    <hr style="width:1210px">
            
                <% end %>
                
                <%= f.link_to_add "New upload", :uploads %>

                <div>
                    <%= f.submit "Upload" %>
                </div>

            <% end %>

        <% end %>  

        <% if @project.peak_evaluation %>

            <h3>Peak evaluation</h3>
            <br>

            <%= form_for :upload, url: { action: "create" }, html: { multipart: true } do |f| %> 

                <div>
                    <%= f.label :upload_mzxml_files %>
                    <%= f.file_field :mzxmls, multiple: true %>
                    <br>
                </div>
               <br>

                <hr style="width:1210px">
                
                <div>
                    <%= f.submit "Upload" %>
                </div>

            <% end %>

        <% end %>
    

    <hr style="width:1210px">

    <h3>Uploaded file</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Project files</th>
                <% if @project.mobile_phase_evaluation %>
                    <th>Mobile phase</th>
                <% end %>
                <th>mzXML files</th>
                <th>File size</th>
                <th>Upload time</th>
            </tr>
        </thead>
        <tbody>
            <% @project.uploads.each do |upload| %>
                <tr>
                    <td>
                        <ol>
                            <% if @project.peak_evaluation %>
                                <li><%= @project.injection_identifier %></li>
                            <% end %>
                            <li><%= @project.standard_identifier %></li>
                        </ol>
                    </td>
                    <% if @project.mobile_phase_evaluation %>
                        <td><%= upload.mobile_phase %></td>
                    <% end %>    
                    <td>
                        <% upload.mzxmls_identifiers.each do |i| %>
                            <ul>
                                <li><%= i %></li>
                            </ul>
                        <% end %>
                    </td>
                    <td><%= upload.file_size %></td>
                    <td><%= upload.created_at %></td>                
                </tr>
            <% end %>        
        </tbody>
    </table>

    
</div>