<%= javascript_pack_tag :application, 'nested_form' %>
<div class="content">
    <h2 style='font-size:36px'>Upload project file</h2>
    <hr style="width:1210px">

        <% if @project.mobile_phase_evaluation %>
            <h3>Mobile phase evaluation</h3>
            <br>

            <%= nested_form_for(@project) do |f| %>

                <%= f.fields_for :uploads do |u| %>
                    <div>
                        <%= u.label :mobile_phase %>
                        <%= u.text_field :mobile_phase %>
                        <br>
                        <br>
                    </div>
        
                    <div>
                        <%= u.label :upload_mzxml_files %>
                        <%= u.file_field :mzxmls, multiple: true %>
                        <br>
                        <br>
                    </div>
                    <br>

                    <%= u.link_to_remove "Cancel this upload" %>
                
                    <hr style="width:1210px">
            
                <% end %>
                
                <%= f.link_to_add "New upload", :uploads %>

                <div>
                    <%= f.submit "Upload" %>
                </div>

            <% end %>

        <% end %>  

        <% if @project.peak_evaluation %>

            <h3>Peak evaluation</h3>
            <br>

            <%= form_for :upload, url: {action: "create"} do |f| %> 

                <div>
                    <%= f.label :upload_mzxml_files %>
                    <%= f.file_field :mzxmls, multiple: true %>
                    <br>
                </div>
               <br>

                <hr style="width:1210px">
                
                <div>
                    <%= f.submit "Upload" %>
                </div>

            <% end %>

        <% end %>
    

    <hr style="width:1210px">

    <h3>Uploaded file</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Project file</th>
                <th>Mobile phase</th>
                <th>File name</th>
                <th>File size</th>
                <th>Upload time</th>
            </tr>
        </thead>
        <tbody>
            <% @project.uploads.each do |upload| %>
                <tr>
                    <td>
                        <ol>
                            <% if @project.mobile_phase_evaluation %>
                                <li><%= @project.grouping.filename %></li>
                            <% end %>
                            <% if @project.peak_evaluation %>
                                <li><%= @project.injection.filename %><li>
                            <% end %>
                            <li><%= @project.standard.filename %><li>
                        </ol>
                    </td>
                    <td><%= upload.mobile_phase %></td>
                    <td><%= upload.mzxmls %></td>
                    <td><%= upload.file_size %></td>
                    <td><%= upload.created_at %></td>                
                </tr>
            <% end %>        
        </tbody>
    </table>

    
</div>