<%= javascript_pack_tag :application, 'default' %>
<div class='content'>
    <h2 style="font-size:36px">Set parameters</h2>
    <hr style="width:1210px">

    <% if @project.mobile_phase_evaluation %>
        <h3>Required files & parameters - mobile phase evalution</h3>
        <table>
            <td>
                <ol class="files">

                    <li><p style="text-decoration: underline">Standards file</p>
                        <ul class="files-rules">
                            <li>The <p class="p-point">standard compounds</p> contained in the sample should be listed in this file with their <p class="p-point">m/z ratio</p> in both <p class="p-point">positive</p> and <p class="p-point">negative</p> ion mode</li>
                            <li><p class="p-point">Do not</p> change the name of any columns</li>
                            <li>There are only <p class="p-point">pos/neg</p> options in <p class="p-point">ion_mode column (always in lowercase letter)</p></li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">Window size for MCQ calculation</p>
                        <ul class="files-rules">
                            <li>Determine <p class="p-point">window width</p> to calculate the mass chromatographic quality (MCQ) index</li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">MCQ threshold</p>
                        <ul class="files-rules">
                            <li>Specify a <p class="p-point">threshold for mass chromatographic quality (MCQ) index</p> to determine whether the peaks are validated</li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">Peak intensity threshold</p>
                        <ul class="files-rules">
                            <li>Specify a <p class="p-point">threshold for peak intensity</p> to determine whether the peaks are validated</li>
                        </ul>
                    </li>

                </ol>
            </td>
            <td>
                <img style="margin-left: 25px; margin-bottom: 150px" src=<%=image_path("mp_std.png") %>>
            </td>
        </table>
    <% elsif @project.peak_evaluation%>
        <h3>Required files & parameters - peak evaluation</h3>
        <table>
            <td>
                <ol class="files">

                    <li><p style="text-decoration: underline">Injection order file</p>
                        <ul class="files-rules">
                            <li>The mzXML files to be evaluated must be listed in this file <p class="p-point">by their injection order</p></li>
                            <li><p class="p-point">Do not</p> change the name of any columns</li>
                            <li>Make sure the <p class="p-point">InjectionOrder column</p> of every input are in the right order</li>
                            <li>Make sure the <p class="p-point">FileName column</p> of every input are the same as the input mzXML files</li>
                            <li>There are only <p class="p-point">TRUE/FALSE</p> options in <p class="p-point">Blk column(always in capital letter)</p></li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">Standards file</p>
                        <ul class="files-rules">
                            <li>The <p class="p-point">standard compounds</p> contained in the sample should be listed in this file with their <p class="p-point">m/z ratio</p></li>
                            <li><p class="p-point">Do not</p> change the name of any columns</li>
                            <li>There are only <p class="p-point">pos/neg</p> options in <p class="p-point">ion_mode column (always in lowercase letter)</p></li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">Window size for MCQ calculation</p>
                        <ul class="files-rules">
                            <li>Determine <p class="p-point">window width</p> to calculate the mass chromatographic quality (MCQ) index</li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">MCQ threshold</p>
                        <ul class="files-rules">
                            <li>Specify a <p class="p-point">threshold for mass chromatographic quality (MCQ) index</p> to determine whether the peaks are validated</li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">Peak intensity threshold</p>
                        <ul class="files-rules">
                            <li>Specify a <p class="p-point">threshold for peak intensity</p> to determine whether the peaks are validated</li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">Std over blk</p>
                        <ul class="files-rules">
                            <li>The ratio of standard over blank intensity</li>
                        </ul>
                    </li>

                    <li><p style="text-decoration: underline">RSD of RT</p>
                        <ul class="files-rules">
                            <li>The relative standard deviation (RSD) of retention time (RT)</li>
                        </ul>
                    </li>

                </ol>
            </td>
            <td rowspan="2">
                <img style="margin-right: 150px; margin-bottom: 25px" src=<%=image_path("ref_lib_inj.png") %>>
                <br>
                <br>
                <img style="margin-left: 125px; margin-bottom: 300px" src=<%=image_path("ref_lib_std.png") %>>
            </td>
        </table>
    <% end %>

    <div>
        <%= link_to "Download demo file", send_demo_path(params[:id]) %>
    </div>

    <hr style="width:1210px">

    <%= form_for(@project, :url => { :controller => 'projects', :action => 'update', :id => @project}, :html => { :class => "form-horizontal project" }) do |f| %>
        <% if @project.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @project.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            </div> 
        <% end %>

        <div class="control-group">
            <% if @project.mobile_phase_evaluation %>
                <div class="control-group">
                    <%= f.check_box :is_example, {:id => 'is-example'} %>
                    <%= f.label :Use_default_parameters %><p style="font-weight: bold">(window size = 3.0 / MCQ threshold = 0.9 / peak intensity threshold = 5000.0)</p>
                </div>

                <div class="control-group omit">
                    <%= f.label :Window_size_for_MCQ_calculation, :class => 'control-label' %>
                    <div class="controls field">
                        <%= f.text_field :mcq_win_size, :class => 'form-control' %>
                    </div>
                </div>

                <div class="control-group omit">        
                    <%= f.label :MCQ_threshold, :class => 'control-label' %>
                    <div class="controls field">
                        <%= f.text_field :mcq_threshold, :class => 'form-control' %>
                    </div>
                </div>

                <div class="control-group omit">        
                    <%= f.label :Peak_intensity_threshold, :class => 'control-label' %>
                        <div class="controls field">
                            <%= f.text_field :peak_int_threshold, :class => 'form-control' %>
                        </div>
                </div>
                <br>

                <div class="control-group">
                    <div>
                        <%= f.label :upload_standards_file %>
                        <%= f.file_field :standard %>
                        <br>
                        <br>
                    </div>
                </div>

            <% end %>
            
            <% if @project.peak_evaluation %>
                <div class="control-group">
                    <%= f.check_box :is_example, {:id => 'is-example'} %>
                    <%= f.label :Use_default_parameters %><p style="font-weight: bold">(window size = 3.0 / MCQ threshold = 0.9 / peak intensity threshold = 1000.0 / STD over BLK = 6.0 / RSD of RT = 15.0)</p>
                </div>

                <div class="control-group omit">
                    <%= f.label :Window_size_for_MCQ_calculation, :class => 'control-label' %>
                    <div class="controls field">
                        <%= f.text_field :mcq_win_size, :class => 'form-control' %>
                    </div>
                </div>

                <div class="control-group omit">        
                    <%= f.label :MCQ_threshold, :class => 'control-label' %>
                    <div class="controls field">
                        <%= f.text_field :mcq_threshold, :class => 'form-control' %>
                    </div>
                </div>

                <div class="control-group omit">        
                    <%= f.label :Peak_intensity_threshold, :class => 'control-label' %>
                        <div class="controls field">
                            <%= f.text_field :peak_int_threshold, :class => 'form-control' %>
                        </div>
                </div>

                <div class="control-group omit">        
                    <%= f.label :std_over_blk, :class => 'control-label' %>
                        <div class="controls field">
                            <%= f.text_field :std_blk, :class => 'form-control' %>
                        </div>
                </div>
                <div class="control-group omit">        
                    <%= f.label :RSD_of_rt, :class => 'control-label' %>
                        <div class="controls field">
                            <%= f.text_field :rsd_rt, :class => 'form-control' %>
                        </div>
                </div>
                <br>

                <div class="control-group">

                    <div class="ref">
                        <%= f.label :upload_injection_order_file %>
                        <%= f.file_field :injection %>
                        <br>
                        <br>
                    </div>

                    <div>
                        <%= f.label :upload_standards_file %>
                        <%= f.file_field :standard %>
                        <br>
                        <br>
                    </div>

                </div>

            <% end %>

        </div>

        <%= f.submit "Update" %>

    <% end %>

</div>