<div class="content">
    <h2 style="font-size:36px">Projects</h2>
    <hr style="width:1210px">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Parameters</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
            <% @projects.each do |project| %>
                <tr>
                    <td><%= project.name %>
                        <div>
                            Access_key: <%= project.access_key %>
                        </div>
                        <div class='btn-group'>
                            <%= link_to 'Setting', project_update_path(project.id), :title => 'Set parameters' %>
                            <%= link_to 'Upload', start_upload_path(project.id), :title => 'Upload mzXML files' %>
                            <%= link_to 'Run', run_project_path(project.id), :title => 'Run analyses' %>
                            <%= link_to 'Retrieve', retrieve_project_path(project.id), :title => 'Retrieve result' %>
                        </div>
                    </td>
                    <td><%= project.state %></td>
                    <% if project.mobile_phase_evaluation %>
                        <td>
                            <ul>
                                <li>Window_size: <%= project.mcq_win_size %></li>
                                <li>MCQ_threshold: <%= project.mcq_threshold %></li>
                                <li>Peak_intensity_threshold: <%= project.peak_int_threshold %></li>
                            </ul>
                        </td>
                    <% end %>
                    <% if project.peak_evaluation %>
                        <td>
                            <ul>
                                <li>Window_size: <%= project.mcq_win_size %></li>
                                <li>Flatness_factor: <%= project.flat_fac %></li>
                                <li>MCQ_threshold: <%= project.mcq_threshold %></li>
                                <li>Peak_intensity_threshold: <%= project.peak_int_threshold %></li>
                                <li>std_over_blk: <%= project.std_blk %></li>
                                <li>rsd_of_rt: <%= project.rsd_rt %></li>
                            </ul>
                        </td>
                    <% end %>
                    <td><%= project.created_at %></td>
                    <td></td>
                <tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Create a project', new_project_path, :class => 'btn fa-plus-circle btn-right' %>
</div>