<div class="content">
    <h2 style="font-size:36px">Run analyses</h2>
    <div class="alert alert-info" role="alert" style="width:1210px; margin-top: 20px">Please confirm all parameters and uploaded files.</div>
    <hr style='width:1210px'>
    <h3>Project parameters</h3>
    <table class='table'>
        <thead>
            <tr>
                <th style='width:30%'>Parameter</th>
                <th>Values</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Project name</td><td><%= @project.name %></tr>
            <tr><td>Access key</td><td><%= @project.access_key %></td></tr>
            <tr>
                <td>Services</td>
                <% if @project.mobile_phase_evaluation & @project.peak_evaluation %>
                    <td>Mobile phase evaluation & Peak evaluation</td>
                <% end %>
                <% if @project.mobile_phase_evaluation & !@project.peak_evaluation %>
                    <td>Mobile phase evaluation</td>
                <% end %>    
                <% if @project.peak_evaluation & !@project.mobile_phase_evaluation %>
                    <td>Peak evaluation</td>    
                <% end %>    
            </tr>
            <tr><td>Window size</td><td><%= @project.mcq_win_size %></td></tr>
            <tr><td>MCQ threshold</td><td><%= @project.mcq_threshold %></td></tr>
            <tr><td>Peak intensity threshold</td><td><%= @project.peak_int_threshold %></td></tr>
            <% if @project.peak_evaluation %>
                <tr><td>std/blk</td><td><%= @project.std_blk %></td></tr>
                <tr><td>RSD of RT</td><td><%= @project.rsd_rt %></td></tr>
            <% end %>
        </tbody>
    </table>
    <h3>Uploaded file</h3>
    <div class="well">
        <ul>
            <% if @project.peak_evaluation %>
                <li><%= @project.injection_identifier %></li>
            <% end %>
            <li><%= @project.standard_identifier %></li>
            <% @uploads.each do |u| %>
                <li>
                    <% u.mzxmls_identifiers.each do |i| %>
                        <div><%= i %></div>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
    <%= link_to 'Run MetaMOPE', do_run_project_path(@project), :class => 'btn btn-primary' %>
</div>