<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMOPE</title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>
    <% this_id = (session[:id].nil?) ? '':session[:id] %>
    <% this_key = (session[:access_key].nil?) ? '':session[:access_key] %>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
			<img style="height: 60px; margin-left: 80px" src=<%=image_path("ntulogo.png") %>>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MetaMOPE</a></div>
                    <div class="navbar-content">
                        <ul class="nav navbar-nav ">
                            <li><%= link_to('Create a Project', new_project_path, :class => 'fa') %></li>
                            <% if session[:id].nil? %>
                                <li><%= link_to('Set parameters', project_update_path, :class => 'fa') %></li>
                                <li><%= link_to('Upload data', start_upload_path, :class => 'fa') %></li>                              
                                <li><%= link_to('Run analysis', run_project_path, :class => 'fa') %></li>
                                <li><%= link_to('Retrieve results', retrieve_project_path, :class => 'fa') %></li>
                            <% else %>
                                <li><%= link_to('Set parameters', project_update_path(session[:id]), :class => 'fa') %></li>
                                <li><%= link_to('Upload data', start_upload_path(session[:id]), :class => 'fa fa-cloud-upload') %></li>                              
                                <li><%= link_to('Run analysis', run_project_path(session[:id]), :class => 'fa fa-play-circle') %></li>
                                <li><%= link_to('Retrieve results', retrieve_project_path(session[:access_key]), :class => 'fa fa-cloud-download') %></li>
                            <% end %>
                        </ul>    
                        <ul class="nav navbar-nav navbar-right">
                            <% if user_signed_in? %>
                                <li><a href="/projects">My Projects</a></li>
                                <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
                            <% else %>
                                <li><%= link_to('Sign In', new_user_session_path) %></li>
                                <li><%= link_to('Sign Up', new_user_registration_path) %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
        </nav>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

		<%= yield %>
		
        <br>
		<hr>
			<div class="container">
				<div class="col-md-2">
					<center>
					  <img style="height: 30px; margin-bottom: 10px; diplay: inline" src=<%=image_path("cmdmlogo.png")%>>
                        <p style="display:inline">
						Computational Molecular Design and Metabolomics Laboratory
                        </p>
                        <p>
						No. 1, Sec. 4, Roosevelt Road, Taipei, 10617 Taiwan(R.O.C)
						+886-2-33664888 Ext. 403
                        </p>
			<a href="https://www.cmdm.tw/">https://www.cmdm.tw</a>
					</center>
					</div>
			</div>
	</div>

<% if notice %>
    <script>
        Swal.fire('Success!', "<%= notice %>", 'success')
    </script>
<% end %>

<% if alert %>
    <script>
        Swal.fire('Oops...', "<%= alert %>", 'error')
    </script>
<% end %>
	
</body>
</html>