<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMOPE</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
    <% this_id = (session[:id].nil?) ? '':session[:id] %>
    <% this_key = (session[:access_key].nil?) ? '':session[:access_key] %>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MetaMOPE</a></div>
                    <div class="navbar-content">
                        <ul class="nav navbar-nav ">
                            <li><%= link_to('Create a Project', new_project_path, :class => 'fa') %></li>
                            <% if session[:id].nil? %>
                                <li><%= link_to('Set parameters', project_update_path, :class => 'fa') %></li>
                                <li><%= link_to('Upload samples', start_upload_path, :class => 'fa') %></li>                              
                                <li><%= link_to('Run analyses', run_project_path, :class => 'fa') %></li>
                                <li><%= link_to('Retrive result', retrieve_project_path, :class => 'fa') %></li>
                            <% else %>
                                <li><%= link_to('Set parameters', project_update_path(session[:id]), :class => 'fa') %></li>
                                <li><%= link_to('Upload samples', start_upload_path(session[:id]), :class => 'fa fa-cloud-upload') %></li>                              
                                <li><%= link_to('Run analyses', run_project_path(session[:id]), :class => 'fa fa-play-circle') %></li>
                                <li><%= link_to('Retrive result', retrieve_project_path(session[:access_key]), :class => 'fa fa-cloud-download') %></li>
                            <% end %>
                        </ul>    
                        <ul class="nav navbar-nav navbar-right">
                            <% if user_signed_in? %>
                                <li><a href="/projects">My Projects</a></li>
                                <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
                            <% else %>
                                <li><%= link_to('Sign in', new_user_session_path) %></li>
                                <li><%= link_to('Sign up', new_user_registration_path) %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <p class="notice"></p>
        <p class="alert"></p>

		<%= yield %>
		
		<hr>
		<footer class="footer content" style="width: 84%" >
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						<img style="height: 60px" src="/assets/ntulogo.png">
						
						<p>
							National Taiwan University
							<br/>
							No. 1, Sec. 4, Roosevelt Road, Taipei, 10617 Taiwan(R.O.C)
							<br/>
							+886-2-3366-3366
							<br/>
							<a href="https://www.ntu.edu.tw">https://www.ntu.edu.tw</a>
							<br>
							<br>
						</p>
					</div>
					<div class="col-md-2 col-md-offset-3">
						<img style="height: 60px" src="/assets/cmdmlogo.png">
						<br>
						Computational Molecular Design and Metabolomics  Laboratory
						<br/>
						No. 1, Sec. 4, Roosevelt Road, Taipei, 10617 Taiwan(R.O.C)
						<br/>
						+886-2-33664888 Ext. 403
						<br/>
						<a href="https://web.cmdm.tw/">https://web.cmdm.tw</a>
					</div>
					<p>This application is optimized for google chrome.</p>
				</div>
			</div>
		</footer>
	</div>

<script>

<% if notice %>
        showNotice("<%= notice %>");
<% end %>
<% if alert %>
        showError("<%= alert %>");
<% end %>
</script>
	
</body>
</html>	